body {
    background-color:lightgrey;
}
#title {
    text-align: center
}
#image {
    height: 70vh;
    width: 70%;
}
#img-div {
    background: white;
}
#img-div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}
#img-div p {
    text-align: center;
}
#tribute-info h3 {
    text-align: center;
    padding-top: 10px;
}
#tribute-info ul {
    display: inline-block;
    padding-left: 400px;
}
#main p {
    text-align: center;
}